* {
    background:             #1E1F29FF;
    background-transparent: #0c0c0cBB;
    background-alt:         #282A36FF;
    foreground:             #FFFFFFFF;
    selected:               #BD93F9FF;
    active:                 #50FA7BFF;
    urgent:                 #FF5555FF;
    comment:                #6272A4FF;
}