@import "colors/frappe.css";

* {
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font;
    font-size: 12pt;
    min-height: 0;
}

window#waybar {
    background: alpha(@base, 0.5);
    transition-property: background-color;
    transition-duration: .5s;
}
  
window#waybar.hidden {
    opacity: 0.5;
}

#custom-menu, 
#memory, 
#custom-spotify, 
#network, 
#pulseaudio, 
#workspaces, 
#battery,
#clock,
#custom-power,
#custom-dropdown {
    padding: 0px 15px;
    background: @surface0;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
}


#workspaces {
    padding: 0px 6px;
}

#custom-spotify,
#custom-dropdown {
    color : @text;
}

#workspaces button {
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 15px;
    min-width: 0;
}

#workspaces button.active {
    color: @pink;
}

#workspaces button.urgent {
    color: @mauve;
}

#workspaces button:hover {
    background: @surface0;
    border-color: @surface0;
    color: @lavender;
}

#clock{
    color: @mauve;
}

#network{
    color: @peach;
}

#memory{
    color: @yellow;
}

#custom-dropdown{
    margin-left: -20px;
}

#custom-menu{
    color: @red;
    padding-right: 23px;
    border-radius: 15px 0px 0px 15px;
}

#battery {
    padding-right: 10px;
    margin-left: -22px;
    border-radius: 0px 15px 15px 0px;
    color: @blue;
}

#custom-power {
    color: @pink;
    padding-right: 18px;
    margin-right: 6px;
}

#pulseaudio {
    color: @green;
    margin-right: 5px;
}

/* tooltip {
	background: #161616;
	border-radius: 15px;
	border-width: 2px;
	border-style: solid;
	border-color: #8cb6ff;
} */

/* 
#backlight {
    padding-right: 15px;
    margin-right: 5px;
    border-radius: 0px 15px 15px 0px;
} */

/* 
#custom-menu, #memory, #custom-spotify {
    background: @surface0;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
} */

/* #battery {
    margin-right: -15px;
} */
/* 

#language{
    margin-left: 5px;
    margin-right: -15px;
    border-radius: 15px 0px 0px 15px;
} */

/* #network {
    padding-left: 15px;
    padding-right: 0px;
    background: @surface0;
    margin-top: 5px;
    margin-bottom: 5px;
} */

/* #tray, #custom-updates-pacman-aur {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 15px;
} */

/* #custom-launcher {
    color: #8cb6ff;
    padding-right: 20px;
    padding-left: 15px;
    margin-right: 5px;
    margin-left: 10px;
    border-radius: 15px;    
} */

/* 
#custom-media {
    background: @surface0;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 15px;
} */
